<p class="social-links">

 	<a href="http://instagram.com/username"><i class="fa fa-instagram"></i></a>
	<a href="https://alpha.app.net/username"><i class="fa fa-adn"></i></a>
	<a href="https://google.com/+username?rel=author"><i class="fa fa-google-plus"></i></a>
	<a href="/rss"><i class="fa fa-rss"></i></a>

</p>
