		<aside class="right-side {{#is "home, tag, paged"}}at-index{{/is}}">
			{{navigation}}
		</aside>

		<footer>
			<p>Codest © {{date format="YYYY"}}. All rights reserved</p>
		</footer>

		{{>script}}

  </div>
</body>
</html>
