@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('Roboto-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    src: url('Roboto-BoldItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: url('Roboto-Bold.ttf') format('truetype');
}
